#header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
    min-height: 775px;
    margin-top: 0rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.show__header__container {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* ============= CTA ============== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============= Header Socials ============== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary-variant);
}

/* ============= My Image ============== */
.me {
    background: linear-gradient(var(--color-bg-variant), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1.2s;
}

.show__me {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* ============= Media Queries (Medium Devices) ============== */
@media screen and (max-width: 1024px) {
    #header {
        height: 68vh;
    }

}

/* ============= Media Queries (Small Devices) ============== */
@media screen and (max-width: 600px) {
    #header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }
}